.name-input, .serv, .Prof-name, .job-desc {
    margin-bottom: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-card-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card h2 {
    margin: 10px 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.card h4 {
    margin: 5px 0 15px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #666;
}

.circles {
    display: flex;
    margin-top: 10px;
    gap: 8px;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: greenyellow;
    border-radius: 50%;
}

.profile-pic {
    margin-top: 20px;
}

.profile-pic img {
    min-width: 180px;
    min-height: 180px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f5f5f5;
    margin-bottom: 15px;
}

.profile-links {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    background-color: rgb(128, 150, 168);
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    font-size: 1rem;
    color: #fff;
}

.profile-links p {
    margin: 8px 0;
    font-size: 1.2rem;
}

.profile-details{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.income {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 1.2rem;
}

.income-circle {
    width: 25px;
    height: 25px;
    background-color: greenyellow;
    border-radius: 50%;
    margin-right: 8px;
}
